html, body {
  height: 100%;
  max-width: 1280px;
}

/* section h1,
article h1 {
  clear: both;
  text-align: center;
} */

/* * {
  //css debugger lmao
   background: #000 !important;
   color: #0f0 !important;
   outline : 2px solid #f00;
} */

.navigation ul {
  background-color: #D3D3D3;
  text-align: center;
  margin: 0;
  padding: 25px 0 25px 0;
}

.navigation ul li {
  display:inline-block;
}

.menu__link {
  position: absolute;
  top: 500px;
  left: 10%;
}

.menu__link--projects {
  left: 40%;

  -ms-transform: skewX(-18deg);
  -webkit-transform: skewX(-18deg);
  transform: skewX(-18deg);
}

.menu__link--blog {
  left: 85%;
}

.view-box {
  /* position: relative; */
  /* width: 44%; */
  height: 660px;
  /* display: inline; */
  float: left;
  /* margin-bottom: 25px; */
  overflow: hidden;
  /* margin-left: -12%; */
}

.box-one {
  background-color: #7e7e7e;
  width: 50%;
}

.box-two {
  width: 40%;
  margin-left: 30%;
  z-index: 1;
  position: absolute;
  background-color: #939393;
  -ms-transform: skewX(18deg);
  -webkit-transform: skewX(18deg);
  transform: skewX(18deg);
}

.box-three {
  background-color: #a8a8a8;
  width: 50%;
}
/* ////////////////////////////////////////// next //////////////////////////////////////////////// */

.block2 {
  height: 660px;
  width: 100%;
  background: #F0F0F0;
  display: flex;
  position: relative;
}

.about-block {
  position: absolute;
  top: 100px;
  left: 110px;
  width: 468px;
  height: 461px;
  background-color: #f3fdff;
}

.skills-block {
  position: absolute;
  top: 355px;
  left: 515px;
  width: 260px;
  height: 150px;
  background-color: #375e75;
}

/* ////////////////////////////////////////// next //////////////////////////////////////////////// */

.block3 {
  height: 660px;
  width: 100%;
  background: #D8D8D8;
  display: flex;
}

$color: red;
p {
color: $color;
}

.row {
  display: flex;
  margin: 200px;
  justify-content: space-between;
  flex-direction: row;
}

.column1 {
  width: 30px;
  height: 100px;
  background-color: black;
}

.column2 {
  width: 70px;
  height: 100px;
  background-color: red;
}

/* ////////////////////////////////////////// next //////////////////////////////////////////////// */

.block4 {
  height: 660px;
  width: 100%;
  background: #BEBEBE;
  display: flex;
}
