.about {
  height: $page-height;
  width: 100%;
  background-color: #F0F0F0;
  display: flex;
  position: relative;

  &__block {
    position: absolute;
    top: 96px;
    left: 110px;
    width: 480px;
    height: 480px;
    background-color: $ice-blue;
  }

  &__skills {
    position: absolute;
    top: 355px;
    left: 515px;
    width: 275px;
    height: 160px;
    background-color: $dark-blue;
  }
}
