.linkedin-link,
.git-link {
  position: fixed;
  right: 0;
  top: 80px;
  width: 3em;
  height: 3em;
  margin-top: -2.5em;
  background-color: $green;
  z-index: 1;
}

.linkedin-link {
  background-image: url('~../../src/img/linkedin.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.6em;
}

.git-link {
  top: 140px;
  background-image: url('~../../src/img/git.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.6em;

//TODO Add icons to projects
  // &--projects {
  //   position: absolute;
  //   z-index: 2;
  //   right: 20px;
  //   top: 178px;
  // }
}

@media only screen and (max-width: 500px) {
  .linkedin-link,
  .git-link {
    display: none;
  }
}
