.navigation ul {
  background-color: #D3D3D3;
  text-align: center;
  margin: 0;
  padding: 25px 0 25px 0;
}

.navigation ul li {
  display:inline-block;
}

.menu__link {
  position: absolute;
  top: 500px;
  left: 10%;
}

.menu__link--projects {
  left: 40%;

  -ms-transform: skewX(-18deg);
  -webkit-transform: skewX(-18deg);
  transform: skewX(-18deg);
}

.menu__link--blog {
  left: 85%;
}

.view-box {
  /* position: relative; */
  /* width: 44%; */
  height: 660px;
  /* display: inline; */
  float: left;
  /* margin-bottom: 25px; */
  overflow: hidden;
  /* margin-left: -12%; */
}

.box-one {
  background-color: #7e7e7e;
  width: 50%;
}

.box-two {
  width: 40%;
  margin-left: 30%;
  z-index: 1;
  position: absolute;
  background-color: #939393;
  -ms-transform: skewX(18deg);
  -webkit-transform: skewX(18deg);
  transform: skewX(18deg);
}

.box-three {
  background-color: #a8a8a8;
  width: 50%;
}
