.block3 {
  height: $page-height;
  width: 100%;
  background: #D8D8D8;
  display: flex;
}

.row {
  display: flex;
  margin: 200px;
  justify-content: space-between;
  flex-direction: row;
}

.column1 {
  width: 30px;
  height: 100px;
  background-color: black;
}

.column2 {
  width: 70px;
  height: 100px;
  background-color: red;
}
