@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700,900');

@mixin font-light-italic($font-size) {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: $font-size;
	font-style: italic;
}

@mixin font-light($font-size) {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: $font-size;
}

@mixin font-medium($font-size) {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: $font-size;
}

@mixin font-heavy($font-size) {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: $font-size;
}

@mixin tablet() {
  @media only screen and (max-width: 768px) {
		// TODO: Use it like this?
  }
}
