$page-height: 100vh;

// Colors
$ice-blue: #f3fdff;
$dark-blue: #375e75;
$light-teal: #93cfde;
$dark-blue-grey: #0b252a;
$dusty-blue: #559caf;
$white: #fff;
$about-layer-blue: #17363E;
$green: #8fde37;
